* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --orange: #E76F51;
    --gray: #8D8D8D;
    --footer-color: #F8E1DB;
    --white: #FFFFFF;
    --menu-text: #707070;
    --body-color: #E4E4E4;
    --black: #3B3735;
    --archivo: "Archivo";
}
body {
    font-size: 18px;
    font-family: "Roboto";
    background-color: var(--body-color);
    color: var(--black);
}
p {

}
.menu {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 10px;
}
header {
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 40px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin-right: 40px;
    color: var(--white);
}
/* nav ul li a:hover::after {

    content: "";
    width: 50px;
    height: 4px;
    top: 80px;
    transform: translateX(-90%);
    background-color: red;
    position: absolute;
} */

.register {
    display: flex;
    align-items: center;
}
.register a {
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    border: 1px solid ; 
    border-radius: 50px;
    padding: 10px 30px;
    margin-right: 10px;
}
.register .sign-up {
    border: none;
}
.menu-bar {
    display: none;
}
.banner {
    width: 100%;
    
}
.banner {
    height: ;

}
.banner-img {
  
   
}
.banner-img img {
    width: 100%;   
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: relative;
}
.banner-text {
    width: 553px;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    top: 300px;
    text-align: center;
    color: var(--white);
    
}
.banner-text h1 {
    font-size: 81px;
    font-family: var(--archivo);
}
.banner-text p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
.banner-text a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 60px;
    background-color: var(--orange);
    border-radius: 50px;
}

.box-section {
    margin-bottom: 120px;
}
.box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 160px;
    margin-top: -80px;
    z-index: 99;
    position: relative;

}
.box {
    width: calc((100% / 4) - 30px);
    background-color: var(--white);
    padding: 60px 40px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}
.box h3 {
    font-size: 18px;
    font-family: var(--archivo);
}
.box p {
    font-size: 16px;
    line-height: 26px;
}
.box img {
    width: 81px;
}
.activities-section {
    padding: ;
    text-align: center;
    /* background-image: url(../images/shape.png);
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.activities-section h1 {
    font-size: 40px;
    margin-bottom: 50px;
}
.activities {
    width: ;
    padding: 0 160px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
 
}
.activity {
    width: calc(calc(100% / 4) - 30px); 
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}
.activity p {
    line-height: 28px;
    font-size: 16px;
    color: var(--black);
}
.activity img {
    width: 100%;
}
.price {
    background-color: var(--white);
    padding: 20px;
    position: absolute;
    color: var(--orange);
    top: 130px;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    margin-bottom: ;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
}
.activity h3 {
    margin-top: 40px;
    font-size: 18px;
}
.activity p {
    margin-bottom: 20px;
    font-size: 16px;
}
.activity a {
    display: inline-block;
    width: 185px;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.206);
    color: var(--black);
    border-radius: 25px;

}
.heart {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 78%;
    
}
.view-btn a {
    width: 185px;
    display: inline-block;
    text-decoration: none;
    color: var(--orange);
    border: 1px solid var(--orange);
    padding: 10px;
    border-radius: 25px;
    margin-top: 40px;
}
.stay-in-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 10px 160px;
}
.stay-in-container {
    width: 100%;
    display: flex;
    padding: ;
    background-color: var(--footer-color);
    border-radius: 15px;
}
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    background-color: var(--footer-color);
}
.left h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: var(--archivo);
}
.left p {
    font-size: 16px;
    margin-bottom: 20px;
}
.left input {
    padding: 20px;
    border: none;
    border-radius: 15px;
    outline: none;
}
.right {
    width: 50%;
    background-color: var(--footer-color);
}
.right img {
    width: 100%;
    display: flex;
    padding: 0 50px;
    
}
footer {
  margin-top: 150px;
  color: var(--black);
}
.footer-container {
    display: flex;
    background-color: var(--footer-color);
    justify-content: space-between;
    padding: 100px 160px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.footer-item ul li {
    list-style: none;
}
.footer-item a {
    text-decoration: none;
    color: var(--black);   
    margin-right: 10px;
    font-size: 16px
}
.footer-item {
    width: ;
    line-height: 28px;
}

.footer-item:first-child p {
    width: 650px;
}
footer h4 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: var(--archivo);
}
footer p {
    font-size: 16px;
    line-height: 28px;
}
.download {
    margin-top: 30px;
}
.copyright {
    text-align: center;
    background-color: var(--footer-color);
    color: var(--black);
}

@media(max-width:600px) {
    header {
        padding: 40px 20px;
    }
    .banner h1 {
        font-size: 60px;
    }
    .menu ul {
        display: none;
    }
    .register a {
        display: none
    }
    .banner {
        height: ;
        
    }
    .banner img{
        height: 120vh;
        object-fit: cover;

    }
    .banner-text {
        width: unset;
    }
    .box-container {
        flex-direction: column; 
        padding: 40px;
        margin-top: -180px;
    }
    .box {
        width: 100%;
        padding: 90px 20px;
    }
    .activities {
        flex-direction: columns;
        padding: 20px;
    }
    .activity {
        width: 100%;
        padding: 60px;
    }
    .stay-in-section {
        padding: 0px 20px;
    }
    .stay-in-container {
        flex-direction: column-reverse;
        padding: 40px 0px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .price {
        top: 230px;
    }
    .heart {
        top: 80px;
        left: 75%;
    }
    .footer-container {
        flex-direction: column;
        padding: 150px 20px 20px 20px;
        text-align: center;
    }
    .footer-item {
        width: 100%;
    }
    .footer-item:first-child p {
        width: unset;
    }
    .footer-item h4 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .menu-bar {
        display: block;
    }

}